@import "tailwindcss";

@theme {
  /* Typography */
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Kumbh Sans", "Inter", system-ui, sans-serif;

  /* Absolute Colors - OKLCH */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);

  /* Yellow Shades - Primary Brand Colors */
  --color-yellow-55: oklch(87% 0.15 102);
  --color-yellow-60: oklch(89% 0.14 102);
  --color-yellow-70: oklch(91% 0.12 102);
  --color-yellow-80: oklch(94% 0.1 102);
  --color-yellow-90: oklch(97% 0.06 102);
  --color-yellow-95: oklch(98% 0.04 102);
  --color-yellow-97: oklch(99% 0.02 102);
  --color-yellow-99: oklch(99.5% 0.01 102);

  /* Dark Shades  */
  --color-dark-08: oklch(12% 0 0);
  --color-dark-10: oklch(15% 0 0);
  --color-dark-15: oklch(20% 0 0);
  --color-dark-20: oklch(25% 0 0);
  --color-dark-25: oklch(30% 0 0);
  --color-dark-30: oklch(35% 0 0);
  --color-dark-35: oklch(40% 0 0);
  --color-dark-40: oklch(45% 0 0);

  /* Grey Shades  */
  --color-grey-50: oklch(55% 0.005 270);
  --color-grey-60: oklch(65% 0.005 270);
  --color-grey-70: oklch(75% 0 0);
  --color-grey-75: oklch(82% 0 0);
  --color-grey-90: oklch(92% 0.005 270);
  --color-grey-95: oklch(96% 0.005 270);
  --color-grey-97: oklch(98% 0.005 270);
  --color-grey-99: oklch(99% 0.005 270);
}
